@page "/"
@using Blazor.Blog.Data
@using Blazor.Blog.Globals
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@namespace Blazor.Blog.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject GlobalSiteSettings GlobalSettings

@{
    var siteSettings = GlobalSettings.SiteSettings;
    var siteName = siteSettings.SiteName;
    var year = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>

    <link href="/css/custom-bootstrap.css" rel="stylesheet" />
    <link href="/Assets/css/fontawesome.css" rel="stylesheet">
    <link href="/Assets/css/brands.css" rel="stylesheet">
    <link href="/Assets/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="~/_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href='images/favicon.ico' rel='icon' type='image/x-icon'>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="~/Scripts//bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#444444",
                        "text": "#ffffff"
                    },
                    "button": {
                        "background": "#6d91e2",
                        "text": "#ffffff"
                    }
                },
                "theme": "edgeless",
                "content": {
                    "href": "privacypolicy"
                },
                "onPopupClose": function () {
                    $('#egg').focus();
                }
            })
        });
    </script>
    <link rel="stylesheet" href="~/css/an-old-hope.min.css" />
    <style>
        @@media (max-width: 960px) {
            #header {
                background-image: url("../@siteSettings.SiteLogoSmall");
            }
        }
    </style>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <base href="~/" />
</head>
<body class="pushmenu-push">
    <div class="container-fluid" id="page" style="padding-right: 0px; padding-left: 0px;">
        <div id="content">
            <div id="header" class="bg-white w-100">
                <a href="~/">
                    <component type="typeof(Blazor.Blog.Shared.Logo)" param-Url="@(siteSettings.SiteLogo)" render-mode="ServerPrerendered" />
                </a>
            </div>

            <nav class="pushmenu pushmenu-left">
                <ul class="links">
                    <li><a href='@("index")' onmousedown="$nav_list.click()">Home</a></li>
                    <li><a href='@("privacypolicy")' onmousedown="$nav_list.click()">Privacy</a></li>
                </ul>
                <select class="form-select my-3">
                    <option value="" selected="selected">Menu</option>
                    <option value="@("index")">Home</option>
                    <option value="@("privacypolicy")">Privacy</option>
                </select>
                <div class="copyright"><div class="copyright-text">&copy; @siteName @year</div></div>
            </nav>
            <div id="nav-list"><i id="icon" class="fas fa-align-justify"></i></div>
            <div class="content-section">
                <div id="body-content">
                    <component type="typeof(App)" render-mode="ServerPrerendered" />
                </div>
                <script src="_framework/blazor.server.js" autostart="false"></script>
                <script>
                    Blazor.start().then(() => {
                        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
                            document.location.reload();
                        }
                    });
                </script>
                <br />
                <br />
                <br />
                <span id="button"><i class="fas fa-arrow-alt-circle-up"></i></span>
                <script src="~/Scripts/site.js"></script>
                <script type="text/javascript">
                    window.scrollTop = () => {
                        $('html, body').animate({ scrollTop: 0 }, 300);
                    };

                    $(document).ready(function () {


                        $menuLeft = $('.pushmenu-left');
                        $nav_list = $('#nav-list');

                        $nav_list.click(function () {
                            $(this).toggleClass('active');
                            $('.pushmenu-push').toggleClass('pushmenu-push-toright');
                            $menuLeft.toggleClass('pushmenu-open');
                        });

                        var btn = $('#button');

                        $(window).scroll(function () {
                            if ($(window).scrollTop() > 300) {
                                btn.addClass('show');
                            } else {
                                btn.removeClass('show');
                            }
                        });

                        btn.on('click', function (e) {
                            e.preventDefault();
                            $('html, body').animate({ scrollTop: 0 }, '200');
                        });

                        $("nav select").change(function () {
                            window.location = $(this).find("option:selected").val();
                        });

                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        });
                    });
                </script>
                <script src="~/_content/Radzen.Blazor/Radzen.Blazor.js"></script>
            </div>
        </div>
    </div>
</body>
</html>