@using Blazor.Blog.Helpers;
@using Microsoft.AspNetCore.Components.Web
@namespace Blazor.Blog.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IConfiguration Configuration
@{
    var siteName = Configuration["CustomSettings:SiteName"];
    var year = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link href="~/css/custom-bootstrap.css" rel="stylesheet" />
    <link href="/Assets/css/fontawesome.css" rel="stylesheet">
    <link href="/Assets/css/brands.css" rel="stylesheet">
    <link href="/Assets/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="~/_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href='~/images/favicon.ico' rel='icon' type='image/x-icon'>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#444444",
                        "text": "#ffffff"
                    },
                    "button": {
                        "background": "#6d91e2",
                        "text": "#ffffff"
                    }
                },
                "theme": "edgeless",
                "content": {
                    "href": "privacypolicy"
                }
            })
        });
    </script>
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="pushmenu-push">
    <div class="container-fluid" id="page" style="padding-right: 0px; padding-left: 0px;">
        <div id="content">
            <div id="header">
                <a href='@("index")'>
                    <img src="~/Images/logo.png"/>
                </a>
            </div>
            <nav class="pushmenu pushmenu-left">
                <ul class="links">
                    <li><a href='@("index")'>Home</a></li>
                    <li><a href='@("privacypolicy")'>Privacy</a></li>
                </ul>
@*                 <select>
                    <option value="" selected="selected">menu</option>
                    <option value="@("index")">Home</option>
                    <option value="@("privacypolicy")">Privacy</option>
                </select> *@
            </nav>
            <div id="nav-list"><i id="icon" class="fas fa-align-justify"></i></div>
            <div class="content-section">
                <div class="body-content">
                    @RenderBody();
                </div>
                <script src="~/_framework/blazor.server.js"></script>
                <br />
                <br />
                <br />
                <footer class="fixed-bottom">
                    <br />
                    <div id="footer">
                        <div class="container">
                            <div class="row align-items-start">
                                <div class="col"></div>
                                <div class="col">
                                    <h5>Pages</h5>
                                    <a href='@("index")' onmouseup="$nav_list.click()">Home</a><br />
                                </div>
                                <div class="col">
                                    <h5>Legal</h5>
                                    <a href='@("privacypolicy")' onmouseup="$nav_list.click()">Privacy Policy</a><br />
                                </div>
                                <div class="col">
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="text-center">
                        &copy; @siteName @year all rights reserved
                    </div>
                </footer>
                <span id="button"><i class="fas fa-arrow-alt-circle-up"></i></span>
                <script src="~/Scripts/site.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $menuLeft = $('.pushmenu-left');
                        $nav_list = $('#nav-list');

                        $nav_list.click(function () {
                            $(this).toggleClass('active');
                            $('.pushmenu-push').toggleClass('pushmenu-push-toright');
                            $menuLeft.toggleClass('pushmenu-open');
                        });

                        var btn = $('#button');

                        $(window).scroll(function () {
                            if ($(window).scrollTop() > 200) {
                                btn.addClass('show');
                            } else {
                                btn.removeClass('show');
                            }
                        });

                        btn.on('click', function (e) {
                            e.preventDefault();
                            $('html, body').animate({ scrollTop: 0 }, '200');
                        });

                        $("nav select").change(function () {
                            window.location = $(this).find("option:selected").val();
                        });

                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        })

                        $('.modal').on('shown.bs.modal', function (e) {
                            $('.carousel').carousel('pause');
                        })

                        $('.modal').on('hide.bs.modal', function (e) {
                            $('.carousel').carousel('cycle');
                        })
                    });
                </script>
                <script src="~/_content/Radzen.Blazor/Radzen.Blazor.js"></script>
            </div>
        </div>
    </div>
</body>
</html>
